<!-- your html code here -->
<div class="container-flex"> 
   <h1>Contacto</h1>
   <p class="text-dark">
    Si tiene algún comentario o sugerencia sobre su pedido de "Urban Cafe" envienos por su correo electronico y su comentario para aclarar dudas
   </p>
     <div class="shadow-none p-3 mb-5 bg-light rounded" style="max-width: 900px;">
       <form>
         <div class="mb-2 row">
           <label for="email" class="col-sm-3 col-form-label fw-semibold text-end">Email</label>
           <div class="col-sm-9">
             <input type="email" class="form-control" id="email" placeholder="Your email">
           </div>
         </div>
         <div class="mb-3 row align-items-start">
           <label for="message" class="col-sm-3 col-form-label fw-semibold text-end">Your message</label>
           <div class="col-sm-9">
             <textarea class="form-control" id="message" rows="4" placeholder="Please enter your message here..."></textarea>
           </div>
         </div>
         <div class="text-end">
           <button type="submit" class="btn btn-primary px-4">Submit</button>
         </div>
       </form>
     </div> 
  </div>
  
